<div class="card bg-info text-white p-3">
    <h3 class="card-title">ONLINE EXAM INSTRUCTIONS</h3>
    <div class="card-body">
        <h5 class="">Before starting the exam:</h5>
    <span class="">Please verify that the student's last name appears correctly within the User ID box.</span>
    <h5 class="">During the exam:</h5>
    <ul class="">
        <li>The student may not use his or her textbook, course notes, or receive help from a proctor or any other outside source.</li>
        <li>Students must complete the 50-question multiple-choice exam within the 75-minute time frame allotted for the exam.</li>
        <li>Students must not stop the session and then return to it. This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.</li>
    </ul>
    </div>
    <button (click)="onStartTest()" class="btn btn-success nav-link" >Start Test</button>         
</div>