<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <form (ngSubmit)="onSubmit()">
        <h2 class="mt-5 mb-3 text-center">Sign In to Your Account</h2>
        <div class="form-label-group">
          <input type="email" class="form-control" required [(ngModel)]="user.emailId" id="emailId"
            placeholder="Email Address" name="emailId">
          <label for="emailId">Email Address</label>
        </div>
        <div class="form-label-group">
          <input type="password" class="form-control" required [(ngModel)]="user.password" id="password"
            placeholder="Password" name="password">
          <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="remember" value="remember-me"> Remember me </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <small>
          Don't have an account?  <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
        </small>
      <br>
      <small>
        <a routerLink="/home" routerLinkActive="active">Forgot Your Password?</a>
    </small>
      </form>
    </div>
  </div>
</div>