<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <form (ngSubmit)="onSubmit()">
        <h2 class="mt-5 mb-3 text-center">Add Certification</h2>
        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.certificationCode"
            id="certificationCode" placeholder="Certification Code" name="certificationCode">
        </div>
        <br>
        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.certificationTitle"
            id="certificationTitle" placeholder="Certification Title" name="certificationTitle">
        </div>
        <br>
        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.certificationByCompany"
            id="certificationByCompany" placeholder="Certification By Company" name="certificationByCompany">
        </div>
        <br>
        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.numberOfQuestions"
            id="numberOfQuestions" placeholder="Number Of Questions" name="numberOfQuestions">
        </div>
        <br>

        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.duration"
            id="duration" placeholder="Duration in Minute" name="duration">
        </div>
        <br>

        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="certification.passingScore"
            id="passingScore" placeholder="Passing Score in Percentage" name="passingScore">
        </div>
        <br>


        <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp; 
        <button (click)="onCancel()" type="button" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
  </div>
</div>