<div class="panel panel-primary">
        <div class="panel-heading text-center">
          List of Scheduled Exams
        </div>                   
        <div class="panel-body"> 
        <table class="table table-striped table-bordered">
                <thead>
                  <tr>                    
                    <th scope="col">Certification Code</th>
                    <th scope="col">Certification Title</th> 
                    <th scope="col">Exam Date</th>
                    <th scope="col">ExamTime</th>  
                    <th scope="col">Action</th>                    
                  </tr>
                </thead>
                 <tbody *ngFor="let scheduledExam of scheduledExamList | async">
                  <tr>    
                    <td>{{scheduledExam.certification.certificationCode}}--{{scheduledExam.examScheduleId}}</td>
                    <td>{{scheduledExam.certification.certificationTitle}}</td>                
                    <td>{{scheduledExam.examDate}}</td>
                    <td>{{scheduledExam.examTime}}</td>  
                    <td>
                      <button (click)="onReschedule()" class="btn btn-primary nav-link" >Reschedule</button>
                       <button (click)="onCancelExam(scheduledExam.examScheduleId)" class="btn btn-primary nav-link" type="button">Cancel</button>
                      <button (click)="onTakeExam()" class="btn btn-primary nav-link" >Take Exam</button>     
                    </td>                    
                  </tr>
                </tbody> 
              </table>
      </div>        
</div>                               
