<div class="container-fluid text-left">    
    <div class="row content">
      <div class="col-sm-2 sidenav">        
        <p> <a routerLink="/addcertification" class="btn btn-primary nav-link " routerLinkActive="active">Add Certification</a>   </p>
        <p> <a routerLink="/scheduleexamdetail" class="btn btn-primary nav-link " routerLinkActive="active">Schedule Exam</a>   </p>        
        <p> <a routerLink="/takeexam" class="btn btn-primary nav-link " routerLinkActive="active">Take Exam</a>   </p>
        <p> <a routerLink="/home" class="btn btn-primary nav-link " routerLinkActive="active">Practice Exam</a>   </p>        
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>List of scheduled exams</h1>                
      </div>      
    </div>
  </div>