<fieldset>
    <legend>Add Multiple Selection Question </legend>
  <form [formGroup]="multipleChoiceQuestionForm" (ngSubmit)="onSubmit(multipleChoiceQuestionForm)">        
    
    <div class="input-group" formGroupName="certification">      
      <div class="input-group-prepend">
        <span class="input-group-text">Select Certification</span>
      </div>      
      <select formControlName="certificationId" name="certificationId">
        <option value="">Select Certification</option>
        <option value="{{cert.certificationId}}" *ngFor="let cert of certificationList | async">{{cert.certificationCode}} (
            {{cert.certificationTitle}})</option>
    </select>
    </div>     
    
    
    <div class="input-group">      
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>      
        <textarea name="question" formControlName="question"> </textarea>
      </div>    
       
        <div formArrayName="answer">       
        <div class="form-group">
          <label>Answer:</label>
          <div *ngFor="let num of multipleChoiceQuestionForm.get('answer')['controls'];let j=index trackBy:track" [formGroupName]="j">
            <div class="input-group">      
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input name="correct" type="checkbox" formControlName="correct"/>
                </span>              
              </div>          
               <input name="answer" formControlName="answer" />                                   
            </div>                         
          </div>
          <button class="btn btn-primary" type="button" (click)="AddOptions()">+</button> 
          <button class="btn btn-danger" type="button" (click)="RemoveOptions()">X</button>
        </div>
      </div>
  
  <div> 
    <button class="btn btn-primary">Save</button>
    <button (click)="onCancel()" type="button" class="btn btn-secondary">Cancel</button>
  </div>  
    </form>
  </fieldset>