<div class="form-group row text-center">
    <div class="col-sm-12">
        <h2>Schedule your exam</h2>
    </div>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <div class="col-sm-6 text-right form-group required control-label">
            <label for="certification">Select Your Certification:</label>
        </div>
        <div class="col-sm-6 text-left">
            <select>
                <option>Select Certification</option>
                <option *ngFor="let certification of certificationList | async">{{certification.certificationCode}} (
                    {{certification.certificationTitle}} )</option>
            </select>
        </div>
    </div>

    <div class="form-group row text-center">
        <div class="col-sm-5"></div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-1">            
            <button (click)="onCancel()" type="submit" class="btn btn-secondary">Cancel</button>         
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</form>