<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-7 mx-auto">
      <form (ngSubmit)="onSubmit()">
        <h2 class="mt-5 mb-3 text-center">Sign Up Form</h2>
        <div class="form-label-group">
          <input type="text" class="form-control" required [(ngModel)]="user.fullName" id="fullName"
            placeholder="Full Name" name="fullName">
          <label for="fullName">Full Name</label>
        </div>
        <div class="form-label-group">
          <input type="email" class="form-control" required [(ngModel)]="user.emailId" placeholder="Enter email"
            name="emailId" id="emailId">
          <label for="emailId">Email Address</label>
        </div>
        <div class="form-label-group">
          <input type="password" class="form-control" required [(ngModel)]="user.password" id="password"
            placeholder="Password" name="password">
          <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
        <br>
        <small>
          Already have an account?  <a routerLink="/signin" routerLinkActive="active">Sign In</a>
        </small>
      </form>
    </div>
  </div>
</div>